@import "~bootstrap-icons/font/bootstrap-icons";

html, body {
    width: 100%;
	background-color: #f7f9fb;
    height: 100%;
}

.center {
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#root {
    height: 100%;
}

.fd-file {
    text-align-last: center;
}

.navbar {
	background-color: #e4e4e4 !important;
}

.bi-clipboard, .bi-clipboard-check, .bi-trash-fill {
    cursor: pointer;
}
